
body {
  font-family: Arial, Helvetica, sans-serif;
  margin: auto;

}

.navbar {
  overflow: hidden;
  background-color:rgb(223, 70, 70);
 
}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}



.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.dropdown:hover .dropbtn {
  background-color:rgb(191, 0, 0);
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}



h2 {
    padding: 10px;
    text-align: center; 
}

table {
    
    border-collapse: collapse;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    table-layout: fixed;
  }
  
  td, th {
    border: 1px solid black;
    text-align: left;
    padding: 8px;
  }

  td.hover:hover {
    background-color: rgba(255, 255, 0, 0.783);
 }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }

  .categories, .categories2 {
    font-weight: Bold;
    background-color:black;
    border: 1px solid #dddddd;

  }

  .categories {
      color:white;
  }

  
  .categories2 {
      color:yellow;
  }

  ul {
    margin: auto;
  }
